.root-container {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  position: relative;
  display: block;
  width: 100%;
}

.app-main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  p {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
  }
}
