@import "../../../sass/theme_settings";

::ng-deep .drop-zone {
  height: 360px !important;
  border: 2px dashed var(--upload-zone-border-color) !important;
}

::ng-deep .drop-zone.over {
  background: var(--upload-zone-hover-bg-color) !important;
  border: 2px dashed var(--upload-zone-hover-border-color) !important;
}

::ng-deep .content {
  height: 360px !important;
}

::ng-deep .browse-btn {
  background: transparent;
  border: none;
  color: var(--upload-zone-text-color);
  font-size: 14px;
}
