::ng-deep .mat-snack-bar-container .mat-simple-snackbar span {
  word-break: break-all;
}

::ng-deep .mat-snack-bar-container.error {
  background-color: var(--warn-color);
  padding: 0.5rem 1rem;
  color: var(--text-color);
}

::ng-deep .mat-snack-bar-container.success {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color: var(--text-color);
}
