<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./NugetPackages" />
  </config>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="default" value="https://api.nuget.org/v3/index.json" />
    <add key="Platform" value="https://tfs.de.skilja.com:8082/tfs/DefaultCollection/_packaging/Skilja/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="default">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Platform">
      <package pattern="STG.*" />
      <package pattern="Skilja.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>