.navbar {
  padding: 0 1rem;
  height: var(--header-height);

  .logo {
    height: var(--logo-height);
  }

  .nav-item {
    outline: none;

    span {
      vertical-align: text-top;
    }
  }

  ::ng-deep mat-select .mat-select-value,
  ::ng-deep mat-select .mat-select-arrow {
    color: var(--text-color) !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: var(--text-color) !important;
  }

  ::ng-deep .mat-focused .mat-form-field-ripple {
    background-color: var(--text-color) !important;
    top: 0;
    height: 1px;
  }
}

.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.fill-primary {
  color: var(--text-color);
  fill: var(--text-color);
  path {
    fill: var(--text-color);
  }
}
