<mat-toolbar color="primary" class="main-navbar">
  <div class="navbar-brand"></div>

  <span class="navbar-spacer"></span>

  @if (isLogged()) {
    <div class="navbar-actions">
      <span class="username-display mr-4">
        {{ username() }}
      </span>
      <button
        mat-icon-button
        (click)="logout()"
        title="Logout"
        class="logout-button"
      >
        <mat-icon
          class="fill-white cursor-pointer"
          svgIcon="exit_ico"
        ></mat-icon>
      </button>
    </div>
  }
</mat-toolbar>
