.main-navbar {
  padding: 0 1rem;
  height: var(--header-height);
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  display: flex;
  align-items: center;

  .logo {
    height: var(--logo-height);
  }

  .navbar-spacer {
    flex: 1 1 auto;
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .username-display {
      vertical-align: middle;
      font-size: 14px;
    }
  }
}

.fill-white {
  color: var(--text-color);
  fill: var(--text-color);
  path {
    fill: var(--text-color);
  }
}
