@use "@angular/material" as mat;

$primary-p: mat.m2-define-palette(mat.$m2-grey-palette, 800);
$accent-p: mat.m2-define-palette(mat.$m2-blue-palette, 600);
$warn-p: mat.m2-define-palette(mat.$m2-red-palette, 600);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-p,
      accent: $accent-p,
      warn: $warn-p,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);
