@import "~@angular/material/theming";

//Dummy palette for structure
$primary: mat-palette($mat-grey, 800);
$accent: mat-palette($mat-blue, 600);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
