<div>
  <div class="mainContainer">
    <table class="filterTable">
      <tr><td><label for="rtUrl">Runtime URL</label></td><td><input id="rtUrl" type="text" size="100" [(ngModel)]="queryParams.runtimeUrl" /></td></tr>
      <tr><td><label for="instanceId">Activity instance</label></td><td><input id="instanceId" type="number" [(ngModel)]="queryParams.activityInstanceID" /></td></tr>
      <tr><td><label for="requests">Request count</label></td><td><input id="requests" type="number" [(ngModel)]="queryParams.requestCount" /></td></tr>
      <tr><td><label for="docIdx">Enable doc index filter</label></td><td><input id="docIdx" type="checkbox" [(ngModel)]="queryParams.enableDocIndex"></td></tr>
      <tr><td><label for="idxName">Doc index name</label></td><td><input id="idxName" type="text" size="50" [(ngModel)]="queryParams.docIndexName" [disabled]="!queryParams.enableDocIndex" /></td></tr>
      <tr><td><label for="idxValue">Doc index value</label></td><td><input id="idxValue" type="text" size="50" [(ngModel)]="queryParams.docIndexValue" [disabled]="!queryParams.enableDocIndex" /></td></tr>
      <tr><td><label for="orderBy">Order by</label></td><td><input id="orderBy" type="text" size="50" [(ngModel)]="queryParams.orderBy" /></td></tr>
      <tr><td><label for="track">Enable user tracking</label></td><td><input id="track" type="checkbox" [(ngModel)]="queryParams.userTracking"></td></tr>
    </table>
    <div *ngIf="processing==0 || processing==1" style="text-align:center">
      <h3>
        Please Log in to the platform!
      </h3>
      <div>
        <button (click)="login()" class="btn">Log In</button>
      </div>
    </div>
    <div *ngIf="processing==2">
      <button (click)="startSearchAndLock($event)" class="btn">Start Work Item Search And Lock</button>
    </div>
    <ul>
      <li *ngFor="let step of steps">
        <fa-icon *ngIf="step.status==0" icon="exclamation-circle"></fa-icon>
        <fa-icon *ngIf="step.status==1" icon="spinner" [pulse]="true"></fa-icon>
        <fa-icon *ngIf="step.status==2" icon="check-circle"></fa-icon>
        <fa-icon *ngIf="step.status==3" icon="times-circle"></fa-icon>
        {{step.text}}
        <ul *ngIf="step.status==3">
          <li *ngFor="let err of step.errors">{{err}}</li>
        </ul>
        <ul *ngIf="step.subSteps?.length ?? 0 > 0" class="substepList">
          <li *ngIf="step.showDetails">
            <ul class="statistics">
              <li><span class="stro">Average subStep duration: </span>{{step.subStepDurationAvgMs ? step.subStepDurationAvgMs.toLocaleString() + " ms" : "" }}</li>
              <li><span class="stro">StdDev: </span>{{step.subStepDurationStdDevMs ? step.subStepDurationStdDevMs.toLocaleString() + " ms" : "" }}</li>
              <li><span class="stro">Total duration: </span>{{step.durationMs ? step.durationMs.toLocaleString() + " ms" : "" }}</li>
            </ul>
          </li>
          <li>
            <table class="substepTable">
              <ng-container *ngIf="step.showDetails">
                <tr>
                  <th></th>
                  <th>Operation</th>
                  <th>Work Item</th>
                  <th>Start Time</th>
                  <th>Duration</th>
                </tr>
              </ng-container>
              <tr *ngFor="let subStep of step.subSteps">
                <td>
                  <fa-icon *ngIf="subStep.status==0" icon="exclamation-circle"></fa-icon>
                  <fa-icon *ngIf="subStep.status==1" icon="spinner" [pulse]="true"></fa-icon>
                  <fa-icon *ngIf="subStep.status==2" icon="check-circle"></fa-icon>
                  <fa-icon *ngIf="subStep.status==3" icon="times-circle"></fa-icon>
                </td>
                <td>{{subStep.text}}</td>
                <ng-container *ngIf="step.showDetails">
                  <td>{{subStep.relatedWi ? "ID="+subStep.relatedWi.WorkItemID : (subStep.status==2 ? "Not Found" : "")}}</td>
                  <td>{{subStep.startTime?.toLocaleString()}}</td>
                  <td>{{subStep.durationMs ? subStep.durationMs.toLocaleString()+" ms" : ""}}</td>
                </ng-container>
                <td>
                  <ul *ngIf="subStep.status==3">
                    <li *ngFor="let errSubStep of subStep.errors">{{errSubStep}}</li>
                  </ul>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
