<div class="home-grid">
  <div class="main-content">
    <div class="selection-header">
      <div class="process-selector">
        <mat-form-field>
          <mat-select
            placeholder="Select process"
            (selectionChange)="onSelectProcess($event.value)"
            [(value)]="selectedProcessId"
          >
            <mat-option
              value="{{ option.ProcessID }}"
              *ngFor="let option of processes"
              >{{ option.ProcessName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="description-area"
        title="{{ longDescription || shortDescription }}"
      >
        <span class="label">Short description:</span>
        <span class="text" *ngIf="shortDescription">{{
          shortDescription
        }}</span>
        <span
          class="empty-description"
          *ngIf="!shortDescription && !longDescription"
          class="empty-description f-14"
          >Empty</span
        >
      </div>
    </div>

    <app-upload></app-upload>

    <div class="actions">
      <button
        [disabled]="!isProcessSelected"
        mat-raised-button
        color="primary"
        (click)="retrieveResults()"
      >
        Retrieve results
      </button>
    </div>
  </div>
  <aside class="sidebar-content">
    <app-settings></app-settings>
  </aside>
  <footer class="footer-content">
    <app-logs></app-logs>
  </footer>
</div>
