<div class="property-dialog-container">
  <h2 mat-dialog-title class="dialog-header">
    {{ type === types.UPDATE ? "Update property" : "Create new property" }}
  </h2>

  <mat-dialog-content class="dialog-form-content">
    <mat-form-field appearance="outline">
      <mat-label>Key</mat-label>
      <input [(ngModel)]="key" matInput type="text" name="key" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Value</mat-label>
      <input [(ngModel)]="value" matInput type="text" name="value" required />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-dialog-actions>
</div>
