.mappings-wrapper {
  padding: 0.5rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;

  button {
    margin-top: 8px;
    min-width: 100px;
  }
}

.doc-type-select {
  width: 100%;
  max-width: 300px;
}

.mappings-container {
  position: relative;
  max-height: 300px;
  overflow: auto;
  border-radius: 4px;
}

table {
  width: 100%;

  th.mat-mdc-header-cell:last-child,
  td.mat-mdc-cell:last-child {
    width: 100px;
    text-align: right;
    padding-right: 16px;
  }
}

.action-icon {
  cursor: pointer;
  vertical-align: middle;

  &.fill-primary {
    color: var(--primary-color);
    ::ng-deep svg {
      fill: currentColor;
      path {
        fill: currentColor;
      }
    }
  }
}

.text-right {
  text-align: right !important;
}
