.mappings {
  .mappings-container {
    position: relative;
    max-height: 300px;
    overflow: auto;
  }

  table {
    width: 100%;

    & th:nth-child(3) {
      width: 100px;
    }

    & th:nth-child(3) {
      text-align: right;
    }
  }

  ::ng-deep mat-select .mat-select-value,
  ::ng-deep mat-select .mat-select-arrow {
    color: var(--doc-type-select-color) !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: var(--doc-type-select-color) !important;
  }

  ::ng-deep .mat-focused .mat-form-field-ripple {
    background-color: var(--doc-type-select-color) !important;
    top: 0;
    height: 1px;
  }
}

::ng-deep .fill-primary {
  color: var(--primary-color);
  fill: var(--primary-color);
  path {
    fill: var(--primary-color);
  }
}
