$headerHeight: 64px;
$logoHeight: 40px;

$textColor: white;
$docTypeSelectColor: black;

$emptyMessageColor: #ababab;

$uploadZoneBorderColor: #e0e0e0;
$uploadZoneHoverBorderColor: #c4c4c4;
$uploadZoneHoverBgColor: #e0e0e0;
$uploadZoneTextColor: #9e9e9e;

$scrollBarTrackColor: rgb(0, 0, 0);
$scrollBarThumbBgColor: darkgrey;
$scrollBarThumbOutlineColor: slategrey;

