<form class="login-form" (ngSubmit)="loginUser()">
  <h1 class="login-title">EDA Consumer Application Demo</h1>

  <mat-form-field appearance="outline">
    <mat-label>Configuration Service URL</mat-label>
    <input
      [ngModel]="serverUrl()"
      matInput
      name="serverUrl"
      readonly
      disabled="true"
      placeholder="Configuration Service URL"
      required
    />
    <mat-hint>
      If the value is not correct please adjust the config.json file in assets
      and reload the app</mat-hint
    >
  </mat-form-field>

  <button type="submit" class="login-button" mat-raised-button color="primary">
    Login
  </button>
</form>
