@import '../../../sass/variables';
@import '../../../sass/theme_settings';

.properties-container {
  position: relative;
  max-height: 300px;
  overflow: auto;
}

table {
  width: 100%;

  & th:nth-child(3) {
    width: 100px;
  }

  & th:nth-child(3) {
    text-align: right;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
}

@include oemized-theme {
  ::ng-deep .fill-primary {
    color: mat-color($primary);
    fill: mat-color($primary);
    path {
      fill: mat-color($primary);
    }
  }
}
